# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Environment variables
backend/.env

# Local SQLite database
backend/cloudvault.db

# Local uploads
backend/uploads/

# Flask instance folder
backend/instance/

# VS Code
.vscode/

# PyCharm
.idea/

# Python cache
**/__pycache__/
*.py[cod]